html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.application {
    width:100%;
    height:100%;
    min-height: 600px;
    min-width: 1200px;
    position: relative;
}

.map {
    width:100%;
    height:100%;
    position: absolute;
}

input:focus{
    outline:none;
}


/* Стили меню */
.menu {
    height: 70px;
    width: 280px;
    left: 40px;
    position: absolute;
    top: 81px;
    z-index: 1;
    border-radius: 2px;
    background: rgba(51,51,51,.9);
    overflow: hidden;
}

.menu__selectors {
    height: 60px;
    padding: 5px 20px;
}

.selectors__button {
    color: #f0f0f0;
    font: 22px/16px Helvetica,Arial,sans-serif;
    height: 60px;
    width: 60px;
    margin: 0 8px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -60px;
    cursor: pointer;
}

.selectors__button:hover { background-position: 0; }

._ya { background-image: url('/frontend/src/menu/ya.png'); }
._ow { background-image: url('/frontend/src/menu/ow.png'); }
._wu { background-image: url('/frontend/src/menu/wu.png'); }

._selected {
    background-position: 0;
    cursor: default;
}


/* Стили поиска */
.search {
    height: 40px;
    width: 280px;
    left: 40px;
    position: absolute;
    top: 40px;
    z-index: 1;
    border-radius: 2px;
    background: rgba(51,51,51,.9);
    overflow: hidden;
}

.search__input {
    height: 30px;
    width: 205px;
    margin: 5px 5px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16pt;
    border-radius: 4px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.95)
}

.search__submit {
    display: inline-block;
    box-sizing: border-box;
    height: 20px;
    width: 52px;
    margin: 5px 0;
    color: #f0f0f0;
    font: 16px/16px Helvetica,Arial,sans-serif;
    border: 0;
    background-color: rgba(0,0,0,0);
    padding: 0;
}


/* Стили карточек */
.cardWeather {
    position: absolute;
    padding: 5px; /* Поля */
    color: #f0f0f0;
    word-wrap: break-word;
    opacity: 0.7;
    z-index: 1;
}
.cardWeather__city{
    padding-top: 8px;
    text-align: center;
    font-size: 25px;
}
.cardWeather__temp {
    text-align: right;
    width: 95px;
    height: 38px;
    padding: 5px;
    padding-top: 2px;
    font-size: 38px;
}
.cardWeather__info{
    padding: 10px;
    padding-left: 30px;
}
.cardWeather__lieb {
    text-align: center;
    font-size: 11px;
}



/* Стили маркера */
.cluster{
    text-align: center;
    color: black;
    font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.clickable{
    cursor: pointer;
    display: block;
    outline: none;
}
.marker{
    top: -24px;
    position: relative;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    border-radius: 30px;
}
.marker__temp{
    position: absolute;
    bottom: 22px;
    right: -10px;
}



/* Стили карточки */

.card {
    position: absolute;
    width: 280px;
    left: 40px;
    top: 152px;
    color: #f0f0f0;
    background: #202020;
    opacity: .8;
}

.card__city {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 20px;
    color: #ffe6aa;
}
.card__box {
    margin: 0 15px;

    width: 240px;
    height: 55px;
    padding-bottom: 20px;
    border-top: 3px solid #111 ;
    display: inline-block;
}
.card__temp{
    font-size: 30px;
}

.card__icon{
    width: 60px;
    height: 55px;
    display: inline-block;
    vertical-align: middle;
}

.card__icon>img {
    margin: 0 5px;
    width: 50px;
    height: 55px;
}

.card__info {
    width: 100px;
    height: 45px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
}

.card__info img {
    width: 16px;
    height: 16px;
}

.card__box_bottom {
    height: 60px;
}

.card__inline {
    display: inline-block;
    width: 60px;
    vertical-align: bottom;
    margin-top: 5px;
}

.info__humidity {
    display: inline-block;
}

.info__pressure {
    display: inline-block;
    margin-left: 15px;
}

.info__wind_speed {
    display: inline-block;
    margin-top: 5px;
}

.wind_deg {
    display: inline-block;
    padding-left: 5px;
}
