body{
    margin: 0;
}

.online__searchBar{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 300px;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    position: absolute;
}

.searchBar{
    position: relative;
    z-index: 9;
    border-radius: 2px;
    box-shadow: 0 3px 17px 1px rgba(0,0,0,.5);
    color: #fff;
    font-size: 12px;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 14px;
    height: 50px;
}

.searchBar__forms{
    padding: 11px 15 12px;
    border-radius: 3px;
    background: #333;
    background: rgba(51,51,51,.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.button_search{

    background-image: -webkit-linear-gradient(top,
        #B0B0B4,#5C5D5F);
    border: 0;
    border-radius: 10 10px 10px 10;
    box-shadow: 0 7px 6px rgba(0,0,0,0.3);
    height: 25px;
    left: 190px;
    position: absolute;
    text-align: center;
    top: 12;
    vertical-align: top;
    width: 50px;
    z-index: 1;
}

.city_search{
    display:inline-block;
    content: '';
    position: relative;
    padding: 11px 15 12px;
}

.button_text{
    display: inline-block;
    color: white;
}
.suggest__input{
    background-color: white;

}
